
.nav
{
    float: right;
    margin-right: 100px;
}
a
{
    text-decoration: none;
    color: black;
    margin-right: 100px;
}
.log 
{
    margin-left: 100px;
    font-family:Space Grotesk, Oleo Script;
}
.img1
{
    float: right;
    height: 500px;
    width: 800px;
    margin-right: 100px;
}
.home 
{
    padding: 100px;
    margin-left: 100px;
    height: 500px;
}
#home {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
}
.products 
{
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
}
.product
{
    margin: 100px;
}
.how
{
    text-align: center;
}
