body
{
    background-color: #FAFAFA
}
.nav
{
    float: right;
    margin-right: 100px;
}
a
{
    text-decoration: none;
    color: black;
    margin-right: 100px;
}
.log 
{
    margin-left: 100px;
    font-family:Space Grotesk, Oleo Script;
}
.img1
{
    float: right;
    height: 500px;
    width: 800px;
    margin-right: 100px;
}
.home 
{
    padding: 100px;
    margin-left: 100px;
    height: 500px;
}
#home {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px
}
.fa 
{
    color: #0F298B;
}
.products 
{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}
.product
{
    margin: 100px;
}
.how
{
    text-align: center;
}
#product
{
    width: 90%;
    height: 400px;
    margin-left: 50px;
    margin-top: 30px;
    padding: 50px;
    background-color: white;
    text-align: center;

}
.img
{
    height: 100px;
    margin: 30px;

}
button 
{
    background-color: #2549D3;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 100px;
}

.customers
{
    text-align: center;
}
.customer
{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}
.alex
 {
    width: 90%;
    height: 400px;
    margin-left: 50px;
    margin-top: 30px;
    padding: 50px;
    background-color: white;
    text-align: center;
 }
 .more
{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #0F298B;
}
#more2
{
    width: 90%;
    height: 400px;
    margin-left: 50px;
    margin-top: 30px;
    padding: 50px;
    text-align: center;
}
.properties
{
    text-align: center;

}
.property
{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #FAFAFA;
}
.img2
{
    float: left;
    height: 500px;
    width: 800px;
    margin-right: 100px;

}

.customer
{
    float: right;
}
.us
{
    padding: 100px;
    margin-left: 100px;
    height: 500px;
}